body {
  display: block;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slick-next {
  right: -15px !important;
}

.slick-prev {
  left: -15px !important;
  z-index: 100 !important;
}

.slick-prev,
.slick-next {
  width: 30px !important;
  height: 55px !important;
  background: #89946c !important;
}

.slick-initialized .slick-slide {
  transform: translate3d(-395px, 0px, 0px); /* assuming 0 + -40px = -390px */
}

.MuiBreadcrumbs-root .MuiTypography-root {
  font-size: small !important;
}
